.shop-container {
  display: grid;
  grid-template-columns: 4fr 1.5fr;
}
.cart-container,
.products-container {
  margin: 0.3rem;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .5rem;
  margin-left: .5rem;
  margin-right: .5rem;
  margin: auto;
}
@media only screen and (max-width: 972px) { 
 .shop-container {
   grid-template-columns: 2fr 1fr;
 } 
 .products-container {
   grid-template-columns: repeat(2, 1fr);
 }
}
@media only screen and (max-width: 576px) { 
  .shop-container {
    grid-template-columns: 1fr;
  }
  .products-container {
    grid-template-columns: 1fr;
    margin: auto;
  }
}