.cart {
  position: sticky;
  top: 0;
  padding: 30px 20px;
}
.btn-choose,
.btn-choose-again {
  border: 2px solid darkmagenta;
  border-radius: 1rem;
  padding: 0.5rem;
  font-weight: bolder;
  color: darkmagenta;
  background-color: white;
}
.btn-choose:hover,
.btn-choose-again:hover {
  background-color: black;
  color: white;
  transition: 0.2s;
  border: 2px solid black;
}
