.addedProduct {
  display: flex;
  align-items: center;
}
.added-product-img {
  margin: 5px 10px 0 0;
  height: 4rem;
  width: 4rem;
  border: 2px solid rgba(128, 128, 128, 0.274);
  border-radius: 50%;
  object-fit: contain;
}
.added-product-name {
  margin-bottom: 0;
  margin-top: 10px;
}
.btn-close {
  border: none;
  color: #d46e6e;
  background-color: white;
}
